@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

body{
  background-image: url("bgimage12.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: right top;
  margin: 0px;
  padding: 0px;
}

h1{
    display: inline-flex;
    justify-content: left;
    font-size: 500%;
    font-family: 'Inconsolata', Georgia, 'Times New Roman';
    color: white;
    text-shadow: 1px 1px 2px white, 0 0 25px pink, 0 0 5px white;
    padding-left: 100px;
    margin-bottom: 10px;
    margin: 0px;
    padding-top: 20px;
}
h1 a{
  text-decoration: none;
}
h1 a:visited{
  color: white;
}

/*NAVBAR*/
.navBar {
    display: inline-block;
    vertical-align: top;
    flex-wrap: wrap;
    justify-content: margin;
    overflow: hidden;
    padding: 10px 10px;
    margin-top: 40px;
    margin-left: 450px;
}
.navBar a {
   color: white;
   display: inline-block;
   padding: 0 50px 0 60px;
   text-align: center;
   justify-content: space-between;
   font-family: 'Inconsolata', Georgia, 'Times New Roman';
   font-size: 25px;
}
.navBar a{
   text-decoration: none;
}
.navBar a:hover{
   color: #D5A6C1;
   text-decoration: none;
   text-shadow: 1px 0px 1px white, 0 0 25px #D5A6C1, 0 0 5px white;
}
.navBar ul {
  padding: 0px;
  margin: 0px;
  text-align: left;
  float: left;
  overflow: hidden;
  list-style-type: none;
}
.navBar li{
  float: left;
}

/*CONTENT*/
img{
  width:430px;
  padding-top:70px;
  padding-right: 230px;
  float:right;
}
h2{
  font-family: 'Dancing Script', Georgia, 'Times New Roman';
  color: white;
  font-weight: lighter;
  font-size: 50px;
  display: flex;
  justify-content: left;
  padding-left: 150px;
  padding-top: 20px;
}
.paragraph{
  padding: 0px 250px 130px 250px;
  font-family: 'Inconsolata', Georgia, 'Times New Roman';
}
p{
  font-size: 22px;
}
hr{
  border-color: pink;
  border-style: none;
}
label{
  font-size: 20px;
  color: #FADBD8;
}
input{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inconsolata', Georgia, 'Times New Roman';
  color: white;
  font-size: 20px;
  text-align: center;
}
button{
  font-family: 'Inconsolata', Georgia, 'Times New Roman';
  font-weight: bold;
  background-color: pink;
  color: black;
  border: none;
  padding: 10px;
  font-size: 20px;
}
a{
  text-decoration: none;
  color: #FADBD8;
}
a:hover{
  opacity: 0.8;
  text-decoration: none;
  color: #DB71A0;
}
.containersignin p{
  padding-top: 20px;
  margin: 0px;
}


/*FOOTER*/
footer{
  margin: 0px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 100px;
  background-color: #E6B0AA;
  background-size: 150%;
  border-radius: 25px;
  font-family: 'Inconsolata', Georgia, 'Times New Roman';
  padding: 20px 0px;
}
footer img{
  max-height: 100%;
  max-width: 100%;
  width: 500px;
  padding: 0px 60px;
}
footer th, td{
  padding: 10px 90px 10px 90px;
}
footer th{
  text-decoration: underline;
  text-align: left;
  font-size: 20px;
}
footer a{
  text-decoration: none;
  color: black;
}
footer a:link{
  text-decoration: none;
}
footer a:hover{
  color: #FF5684;
}
